<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nutrition Assistant</title>
	<link rel="stylesheet" href="style.css">
	
</head>
<body>
	<h1>Healthy Foods</h1>
	<div>
	     <img src="https://assign-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy-Food.jpg" alt="Healthy Food">
	     <img src="https://assign-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy-Meal.jpg" alt="Healthy Meal">
	     <img src="https://assign-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy-diet.jpg" alt="Healthy Diet">
	</div>
	<h1>Unhealthy Foods</h1>
	<div>
	     <img src="https://assign-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Unhealthy-Pizza.jpg" alt="Healthy Food">
	     <img src="https://assign-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Unhealthy-burger.jpg" alt="Healthy Food">
	</div>
</body>
</html>