<!DOCTYPE html> 
<html lang="en"> 
<head> 
 	<meta charset="UTF-8"> 
 	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 	<title>Nutrition Assistant</title> 
 	<link rel="stylesheet" href="style.css"> 
 	 </head> 
<body> 
 	<h1>Healthy Foods</h1> 
 	<div> 
 	     <img src="https://ibmassignment-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy%20Food.jfif" alt="Healthy Food">  	
             <img src="https://ibmassignment-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy%20Foods.jfif" alt="Healthy Food">  	
             <img src="https://ibmassignment-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Healthy%20Food%201.jfif" alt="Healthy"> 
 	</div> 
 	<h1>Unhealthy Foods</h1> 
 	<div> 
 	     <img src="https://ibmassignment-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/unhealthy%20food.jfif" alt="Unhealthy Food">  	  
             <img src="https://ibmassignment-03.s3.jp-tok.cloud-object-storage.appdomain.cloud/Unhealthy%20foods.jfif" alt="Unhealthy Food"> 
 	</div> 
</body> 
</html> 
