#imageInfo {
    background-color: lightskyblue;
}
#buttonGroup {
    color: black;
    border-color:black;
    font-size: 1.5vw;
}
#buttonGroup:hover {
    color:white;
}
h2{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
