<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <style>body{
        background: #7b4397;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0296db, #55ee2e);
        background: linear-gradient(to right,#0296db ,#55ee2e ); 
        font-family: Tahoma, sans-serif;
        text-align: center;
    }</style>
</head>
<body>
    <h1>Nutrition Assistant Application</h1>
    <h2>Team ID: PNT2022TMID22530</h2>
    <ul>
        <li>Team Leader   : Dinesh Kumar K S</li>
        <li>Team Member 1 : Tejas Kamalakar Lakeshri</li>
        <li>Team Member 2 : Vignesh V</li>
        <li>Team Member 3 : Metha Nirmal N</li>
    </ul>
</body>
</html>