
<style type="text/css">
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 3fr 4fr;
}
.left {
	position: initial;
	background-color: #87CEEB;
	padding: 10px;

}

table {
       border: 1px dashed black; 
}
td {
    padding:2px; border: 1px solid orange;
}
.right {
	position: initial;
	background-color: rgb(229,229,229);
	padding: 15px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 10px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}

</style>