<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>Healthy Foods</nav>
    
    <img src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/hans-leuzinger-N5Be_Aky1-A-unsplash.jpg" alt="Image1"><img 
    src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/lesly-juarez-0oUdOlDm8pU-unsplash.jpg" alt="Image2"><img 
    src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="Image3">
    
    
    <img src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/rodion-kutsaiev-r_NDpTNtgW0-unsplash.jpg" alt="Image4"><img 
    src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/ella-olsson-KPDbRyFOTnE-unsplash.jpg" alt="Image5"><img 
    src="https://ibmass3.s3.jp-tok.cloud-object-storage.appdomain.cloud/louis-hansel-phEaeqe555M-unsplash.jpg" alt="Image6">

    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "67714992-cb30-4257-8c8f-aff35b57838b", // The ID of this integration.
          region: "jp-tok", // The region your integration is hosted in.
          serviceInstanceID: "2cc0c89c-9396-4ee0-86fb-ca8aaf3338de", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>


</body>
</html>









